body {
  background-color: #000000;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#header {
  text-align: center;
  display: block;
  font-family: railway;
  font-weight: bold;
  font-size: 72px;
  margin-bottom: 40px;
}

#game-container {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1280px;
  height: 704px;
  background-image: url("../assets/Menu/menu-background.png");
}

.menu-button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin: 20px auto;
  display:block;
  height: auto;
  width: 600px;
  padding: 40px;
  background-color: #b17220;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
  border: solid 2px black;
}

.menu-button:hover {
  background-color: #a16210;
  cursor: pointer;
}

.menu-button:active {
  background-color: #a16210;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #915200 inset;
}

.list {
  vertical-align: middle;
  margin: 20px auto;
  height: auto;
  margin-bottom: 80px;
  width: 600px;
  background-color: rgba(255,255,255,0.3);
}

.list > li > a {
  text-decoration: none;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
}

.form-header {
  background-color: rgba(255,255,255,0.3);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  display:block;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  width: 600px;
}

.form-input {
  margin: 0 auto;
  display:block;
  box-sizing: border-box;
  padding: 10px;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  height: auto;
  width: 600px;
}

.test-container {
  padding-left: 0;
  padding-right: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.instruction-container {
  width: 75%; 
  margin: 0 auto;
}

.instruction-paragraph {
  font-size: 30px;
  font-weight: bold;
}

#test-button {
  height: 40px;
  width: 200px;
  background-color: #b17220;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
  border: solid 2px black;
}

#test-button-hover {
  height: 40px;
  width: 200px;
  background-color: #a16210;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
  border: solid 2px black;
}

#test-button-active {
  height: 40px;
  width: 200px;
  background-color: #a16210;
  box-shadow: 2px 2px 2px 2px #915200 inset;
  color: black;
  font-family: railway;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
  border: solid 2px black;
}

#temperature {
  height: 20px;
  width: 200px;
  background: linear-gradient(to right, blue , red);
  border: none;
}

#rain {
  height: 20px;
  width: 200px;
  background:  linear-gradient(to right, yellow, blue);
  border: none;
}


#menu {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  padding: 4px 8px;
  height: 52px;
  width: 1216px;
  background-image: url("../assets/Menu/Honeycomb-Menu-Background.png");
  border: none;
  box-sizing: border-box;

}

#heading {
  background-color: rgba(255,255,255,0.3);
  padding: 2px 4px;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 28px;
}

.label-container>p {
  background-color: rgba(255,255,255,0.3);
  padding: 2px 4px;
  border-radius: 2px;
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  float: left;
  display: inline;
}
