<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <title>Bee Wars - the Game</title>
</head>

<body>
  <div id='game-container'>
    <h1 id='header'>Open Games</h1>
    <ul class='list'>
      <% for(let i = 0; i < labels.length; i++) { %>
          <li><%- link_to(labels[i].label, '/games/' + labels[i].name) %></li>
      <% } %>
    </ul>
    <a href='/' class='menu-button'>Back</a>
  </div>
</body>
</html>
