<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <title>Bee Wars - the Game</title>
</head>

<body>
  <div id='game-container'>
    <h1 id='header'>New Game</h1>
    <form action='/games' method='post' name='new_game_form'>
      <div class='form-header'>Enter Name of Game: </div>
      <input class='form-input' type='text' name='identifier'>
      <button class='menu-button' name="subject" type="submit" value="submit">Start Game</button>
      <a style='text-decoration: none;' href='/'>
        <button class='menu-button' type='button'>Back</button>
      </a>
    </form>
  </div>
</body>
</html>
